body {
  font-family: 'Raleway', sans-serif;
  background-color: #EEF3F6;
}

.topBar {
  height: 60px;
  width: 100%;
  background-color: #EEF3F6;
}

.noBorPad {
  border: 0;
  padding: 0;
}

.topBarLogo, .topBarLogo:hover, .topBarLogo:focus {
  line-height: 60px;
  vertical-align: middle;
  margin-left: 25px;
  color:black;
  text-decoration: none;
  font-weight: 900;
  font-size: 150%;
}

.topBarLink, .topBarLink:hover, .topBarLink:focus {
  line-height: 60px;
  vertical-align: middle;
  margin-left: 25px;
  text-decoration: none;
}

.topBarLogo:hover{
  font-weight: bolder;
}

.topBarLink:hover{
  font-weight: bolder;
  margin-right: -3px;
}

.topBarButton {
  line-height: 60px;
  vertical-align: middle;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 25px;
  border: 1px solid grey;
  padding: 5px 15px;
  color: #1DBB9B;
}

.register, .register:hover {
  background-color: #1DBB9B;
  border-color: transparent;
  color:white;
  text-decoration: none;
}

.logIn:hover {
  background-color: #1DBB9B;
  border-color: transparent;
  color:white;
  text-decoration: none;
}

.header {
  height: 350px;
  background-color: white;
}

.homeHeader {
  vertical-align: middle;
  line-height: 350px;
  color:black;
  margin: 0;
}

.header>a, .header>a:hover, .header>a:focus {
  position: relative;
  top: -150px;
  color:#1DBB9B;
}

.finSoon {
  margin-left: 15px;
}

.homeLoading {
  margin-top: 160px;
}

.loginPanel {
  width: 500px;
}

.btn.logInButton {
  background-color:#1DBB9B;
  color:white;
}

.loginPanelHeader {
  margin-top: 20px;
}

.profileItem, .profileItem1 {
  margin-left: 2px;
}

.profileItem1 {
  margin-bottom: 10px;
}

.well {
  margin-bottom: 0;
}

.auctionImg {
  width:200px;
  height: 150px;
  position: relative;
  left: -10px;
}

.auctionPanelContent {
  margin-top: 5px;
  padding-left: 1.5px;
}

.highestBidLabel {
  margin-top: 5px;
  font-size: 110%;
}

.openDetails {
  margin-top: 15px;
}

.regPanel {
  min-height: 200px;
}

.regLoader {
  margin-top: 50px;
}

.auctionImg {
  margin-left: 15px;
  margin-top: 10px;
}

.addBid {
  margin-left: 10px;
}

.addNewAuction {
  background-color:#1DBB9B;
  border: none;
  margin-bottom: 10px;
}

.newAuction {
  margin-top: 10px;
}

.addMarginToImg {
  margin-left: 25px;
}
