<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>Current Auctions:</h3>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-sm btn-primary addNewAuction" ng-click="newAuction()"> + Add new auction</button>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3" ng-repeat="auction in auctions track by $index">
          <div class="panel panel-default">
            <div class="panel-heading">{{ auction.title }}</div>
            <div class="panel-body">
              <div class="row text-center">
                <img ng-src="{{ auction.imgUrl }}" class="auctionImg">
              </div>
              <div class="row auctionPanelContent">
                <div class="col-xs-12">
                </div>
                <div class="col-xs-6 highestBidLabel">
                  Highest Bid:<br>
                  <span style="color:#1DBB9B">{{ auction.bids[(auction.bids.length) - 1].value | currency }}</span>
                </div>
                <div class="col-xs-6 highestBidLabel text-right">
                  <button class="btn btn-sm btn-primary openDetails" ng-click="openAuction(auction._id)">Open details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
